
{% extends 'base_main.html' %}

{% block ticle %}
    知识竞答管理系统后台
{% endblock %}

{% block content %}
    {% load static %}
<section class="container-fluid">
    <!-- 头部导航信息 -->
    <div class="row">
    <!-- 左侧菜单信息 -->
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-lg-10 col-md-offset-2 main" id="main">
        <form action="/Article/checkAll" method="post" >
            <h1 class="page-header">操作</h1>
            <ol class="breadcrumb">
                <li><a href="{% url 'backapp:add_article' %}">增加文章</a></li>
            </ol>
            <h1 class="page-header">管理 <span class="badge">7</span></h1>
            <div class="table-responsive">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th><span class="glyphicon glyphicon-file"></span> <span class="visible-lg">标题</span></th>
                            <th><span class="glyphicon glyphicon-list"></span> <span class="visible-lg">栏目</span></th>
                            <th class="hidden-sm"><span class="glyphicon glyphicon-tag"></span> <span class="visible-lg">标签</span></th>
                            <th class="hidden-sm"><span class="glyphicon glyphicon-comment"></span> <span class="visible-lg">评论</span></th>
                            <th><span class="glyphicon glyphicon-time"></span> <span class="visible-lg">日期</span></th>
                            <th><span class="glyphicon glyphicon-pencil"></span> <span class="visible-lg">操作</span></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for article in articles %}
                            <tr>
                                <td class="article-title">{{ article.a_title }}</td>
                                <td>{{ article.a_category.c_title }}</td>
                                <td class="hidden-sm">{{ article.a_tag }}</td>
                                <td class="hidden-sm">0</td>
                                <td>{{ article.create_time|date:'Y-m-d H:i:s' }}</td>
                                <td><a href="{% url 'backapp:update_article' article.id %}">修改</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <footer class="message_footer">
                <nav>
                    <div class="btn-toolbar operation" role="toolbar">
                        <div class="btn-group" role="group"> <a class="btn btn-default" onClick="select()">全选</a> <a class="btn btn-default" onClick="reverse()">反选</a> <a class="btn btn-default" onClick="noselect()">不选</a></div>
                        <div class="btn-group" role="group">
                            <button type="submit" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="删除全部选中" name="checkbox_delete">删除</button>
                        </div>
                    </div>
                    <ul class="pagination pagenav">
                        <li class="disabled"><a aria-label="Previous"> <span aria-hidden="true">&laquo;</span> </a> </li>
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#" aria-label="Next"> <span aria-hidden="true">&raquo;</span> </a> </li>
                    </ul>
                </nav>
            </footer>
        </form>
    </div>
  </div>
</section>
{% endblock %}