
{% extends 'base_main.html' %}

{% block ticle %}
    知识竞答管理系统后台
{% endblock %}

{% block content %}
    {% load static %}
    <section class="container-fluid">
        <!-- 头部导航信息 -->
        <div class="row">
        <!-- 左侧菜单信息 -->
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-lg-10 col-md-offset-2 main" id="main">
                <div class="row">
                    <div class="col-md-5">
                        {{ form.errors }}
                        <h1 class="page-header">添加</h1>
                            <form action="" method="post" autocomplete="off">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="category-name">栏目名称</label>
                                    <input type="text" id="category-name" name="c_title" class="form-control" placeholder="在此处输入栏目名称" required autocomplete="off">
                                    <span class="prompt-text">这将是它在站点上显示的名字。</span>
                                </div>
                                <div class="form-group">
                                    <label for="category-fname">父栏目</label>
                                    <select id="category-fname" class="form-control" name="c_child">
                                        <option value="" selected>无</option>
                                        {% for category in categorys %}
                                            {% if not category.c_child %}
                                                <option value="{{ category.id }}">{{ category.c_title }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                    <span class="prompt-text">栏目是有层级关系的，您可以有一个“音乐”分类目录，在这个目录下可以有叫做“流行”和“古典”的子目录。</span>
                                </div>
                                <button class="btn btn-primary" type="submit">添加新栏目</button>
                            </form>
                    </div>
                    <div class="col-md-7">
                        <h1 class="page-header">管理 <span class="badge">3</span></h1>
                        <div class="table-responsive">
                            <table class="table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th><span class="glyphicon glyphicon-paperclip"></span> <span class="visible-lg">ID</span></th>
                                        <th><span class="glyphicon glyphicon-file"></span> <span class="visible-lg">名称</span></th>
                                        <th><span class="glyphicon glyphicon-pushpin"></span> <span class="visible-lg">父栏目</span></th>
                                        <th><span class="glyphicon glyphicon-pencil"></span> <span class="visible-lg">操作</span></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for category in categorys %}
                                        <tr>
                                            <td>{{ category.id }}</td>
                                            <td>{{ category.c_title }}</td>
                                            <td>{{ category.c_child.c_title }}</td>
                                            <td><a href="{% url 'backapp:update_category' category.id %}">修改</a> <a href="{% url 'backapp:delete_category' category.id %}">删除</a></td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                        </table>
                        <span class="prompt-text"><strong>注：</strong>删除一个栏目也会删除栏目下的文章和子栏目,请谨慎删除!</span> </div>
                    </div>
                </div>
            </div>
      </div>
    </section>

<script>
//是否确认删除
$(function(){   
	$("#main table tbody tr td a").click(function(){
		var name = $(this);
		var id = name.attr("rel"); //对应id  
		if (event.srcElement.outerText === "删除") 
		{
			if(window.confirm("此操作不可逆，是否确认？"))
			{
				$.ajax({
					type: "POST",
					url: "/Category/delete",
					data: "id=" + id,
					cache: false, //不缓存此页面   
					success: function (data) {
						window.location.reload();
					}
				});
			};
		};
	});   
});
</script>
{% endblock %}
