
{% extends 'base_main.html' %}

{% block ticle %}
    知识竞答管理系统后台
{% endblock %}

{% block header %}
{% endblock %}

{% block menu %}
{% endblock %}

{% block content %}
    {% load static %}
    <div class="container">
        <div class="siteIcon">
            <img src="{% static 'images/icon/icon.png' %}" alt="" data-toggle="tooltip" data-placement="top" title="欢迎使用技术问答管理系统" draggable="false" />
        </div>
        <form action="" method="post" autocomplete="off" class="form-signin">
            {% csrf_token %}
            <h2 class="form-signin-heading">管理员登录</h2>
            {{ errors }}
            {{ form.errors.username }}
            <label for="userName" class="sr-only">用户名</label>
            <input type="text" id="userName" name="username" class="form-control" placeholder="请输入用户名" required autofocus autocomplete="off" maxlength="10">
            <label for="userPwd" class="sr-only">密码</label>
            {{ form.errors.password }}
            <input type="password" id="userPwd" name="password" class="form-control" placeholder="请输入密码" required autocomplete="off" maxlength="18">
            <a href="main.html">
                <button class="btn btn-lg btn-primary btn-block" type="submit" id="signinSubmit">
                    登录
                </button>
            </a>
        </form>
        <div class="footer">
        <p><a href="index.html" data-toggle="tooltip" data-placement="left" title="不知道自己在哪?">回到前台 →</a></p>
        </div>
    </div>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script>
    $('[data-toggle="tooltip"]').tooltip();
    window.oncontextmenu = function(){
    //return false;
    };
    $('.siteIcon img').click(function(){
    window.location.reload();
    });
    $('#signinSubmit').click(function(){
    if($('#userName').val() === ''){
    $(this).text('用户名不能为空');
    }else if($('#userPwd').val() === ''){
    $(this).text('密码不能为空');
    }else{
    $(this).text('请稍后...');
    }
    });
    </script>
{% endblock %}
