<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        {% endblock %}
    </title>
    {% block extCss %}
    {% endblock %}

    {% block extJs %}
    {% endblock %}
</head>
<body class="user-select">

{% block content %}
    {% block header %}
    {% endblock %}
{% endblock %}

{% block menu %}
{% endblock %}

{% block window %}
{% endblock %}

</body>
</html>